.blog-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.blog-carousel-preview {
    background-color: rgba(57, 57, 57, 0.2);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85%;
}

.blog-carousel-image {
    width: 40%;
    height: auto;
    border-radius: 10px;
}

.blog-carousel-title {
    font-size: 1.5em;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.blog-carousel-link {
    text-decoration: none;
    color: var(--primary-color);
}

.blog-carousel-author {
    font-style: italic;
    color: var(--secondary-color);
    margin-bottom: 5px;
}

.blog-carousel-date {
    color: var(--text-color);
    margin-bottom: 5px;
}

.blog-carousel-content {
    color: var(--text-color);
    line-height: 1.6;
}

.read-more:hover {
    background-color: var(--primary-color-dark);
}

@media (max-width: 768px) {
    .blog-carousel {
        padding: 10px;
    }

    .blog-carousel-preview {
        padding: 15px;
    }

    .blog-carousel-title {
        font-size: 1.2em;
    }

    .read-more {
        padding: 8px 16px;
    }
}