.reviews-container{
    margin: auto;
    margin-top: 25px;
    width: 50%;
    height: 300px;
    min-width: 300px;
    padding: 25px;
    background-color: var(--bg-white);
    box-shadow: var(--box-shadow);
}