.staff-carousel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 650px;
    width: 60%;
    min-width: 300px;
    min-height: 300px;
    background-color: var(--bg-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin: auto;
}

.staff-carousel-card{
    width: 90%;
    max-width: 800px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    padding: 20px;
    border-radius: 10px;
}

.staff-photo {
    width: 150px; /* Adjusted size */
    height: auto;
    border-radius: 50%;
    object-fit: fill;
    margin-bottom: 10px;
}

.staff-carousel-link {
    width: 90%;
    text-decoration: underline;
    font-size: 12pt;
    font-family: "louisgeorge-bold";
    color: black;
    margin-bottom: 10px;
}

.staff-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staff-name {
    font-size: 1.2em;
    font-weight: bold;
}

.staff-title {
    font-size: 1em;
    color: black;
}

.staff-bio {
    font-size: 0.9em;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Number of lines to show */
    line-clamp: 3;
    /* Standard property for compatibility */
    -webkit-box-orient: vertical;
}

.staff-bio.full {
    -webkit-line-clamp: unset;
    line-clamp: unset;
}

.read-more {
    background: none;
    border: none;
    color: black;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.9em;
    margin-top: 5px;
}

@media screen and (max-width: 950px) {
    .staff-carousel {
        flex-direction: column;
        align-items: center;
    }

    .staff-carousel-card {
        flex-direction: column;
        align-items: center;
    }
    .staff-info {
        align-items: center;
        text-align: center;
    }
    .staff-carousel-link {
        width: 100%;
        text-align: center;
    }

    .staff-photo {
        width: 100px;
    }

    .staff-name {
        font-size: 1em;
        /* Adjusted font size for smaller screens */
    }

    .staff-title {
        font-size: 0.9em;
        /* Adjusted font size for smaller screens */
    }

    .staff-bio {
        font-size: 0.8em;
        /* Adjusted font size for smaller screens */
    }

}