.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: var(--box-shadow);
    padding: 25px;
}

.phone-link {
    color: var(--vista_blue_dark);
    font-size: 16pt;
}

.phone-link:hover {
    color: var(--vista_blue_light);
}

.street-view-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
    row-gap: 15px;
    padding: 15px;
    margin-top: 15px;
}

.parking-image {
    width: 25vw;
    height: auto;
    box-shadow: var(--box-shadow);
}

.google-map {
    width: 50vw;
    min-width: 300px;
    height: 400px;
    margin-top: 15px;
    background-color: var(--bg_blue);
    box-shadow: var(--box-shadow);
}

@media screen and (max-width: 950px) {
    .google-map {
        width: 80vw;
    }

    .street-view-container {
        flex-direction: column;
    }

    .parking-image {
        width: 80vw;
    }
}