.center-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    width: 40%;
    min-width: 450px;
    height: auto;
    margin: 0 auto;
}

.banner-card {
    background-color: var(--bg-white);
    height: auto;
    width: 80%;
    padding: 20px;
    box-shadow: var(--box-shadow);
    text-align: center;
}

.call-to-action {
    position: absolute;
    width: auto;
    height: auto;
    background-color: var(--bg-white);
    padding: 25px;
    margin-bottom: 50px;
    max-width: 450px;
    min-width: 300px;
    box-shadow: var(--box-shadow);
    text-align: center;
    top: 380px;
    left: 50%;
}

#blue{
    color: var(--vista_blue_light);
}

.about-us {
    width: 80%;
    height: auto;
    background-color: var(--bg-white);
    padding: 20px;
    box-shadow: var(--box-shadow);
}

.subheading {
    font-size: 14pt;
}

.paragraph {
    font-size: 12pt;
}

.call-button {
    width: 150px;
    height: 50px;
    border: 2px solid black;
    background-color: white;
    font-size: 10pt;
    color: black;
}

.call-button:hover {
    background-color: aliceblue;
}

.down-arrows {
    display: none;
}

@media screen and (max-width: 950px) {
    .center-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .about-container {
        width: 90%;
        min-width: 0;
    }

    .call-to-action {
        position: static;
        width: 80%;
        margin: 15px auto;
        left: auto;
    }
    #home-subheading {
        display: none;
    }

    .banner-card{
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .heading {
        font-size: 16pt;
    }
}