.resources-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

.resource-card {
    width: 40vw;
    height: 400px;
    background-color: white;
}

.resource-header{
    padding: 25px;
    font-size: 16pt;
}

@media screen and (max-width: 650px) {
    .resources-container {
        flex-direction: column;
    }

    .resource-card {
        width: 100%;
    }
}