.services-container{
    background-color: white;
    box-shadow: var(--box-shadow);
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.conditions-treated {
    width: auto;
    padding: 25px;
    padding-bottom: 0;
    padding-top: 0;
}

.service-card {
    width: 300px;
    min-height: 400px;
    background-color: rgba(57, 57, 57, 0.2);
    box-shadow: var(--box-shadow);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

.service-header{
    font-size: 16pt;
}

.service-description{
    height: 80%;
}

@media screen and (max-width: 650px) {
    .service-card {
        width: 250px;
    }

    .service-header {
        font-size: 14pt;
    }
}