:root {
  --bg_blue: #bfd3ea;
  --vista_blue_light: #4068B4;
  --vista_blue_dark: #1B4188;
  --nav_gradient: -webkit-linear-gradient(90deg, #4068B4, #1B4188);
  --box-shadow: 0px 2px 5px black;
  --bg-white: rgba(255, 255, 255, 0.95);
}

/* Louis George Font Family */
@font-face {
  font-family: "louisgeorge-bold";
  src: url('./assets/fonts/louis_george_cafe/lg-bold.ttf');
}

@font-face {
  font-family: "louisgeorge-italic";
  src: url('./assets/fonts/louis_george_cafe/lg-italic.ttf');
}

@font-face {
  font-family: "louisgeorge-reg";
  src: url('./assets/fonts/louis_george_cafe/lg-reg.ttf');
}

* {
  /* font-family: "lemonmilk-reg"; */
  font-family: "louisgeorge-reg";
}

.main-wrapper {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 50px;
  height: auto;
  min-height: 250px;
  width: 100vw;
  background-color: var(--bg_blue);
  overflow: hidden;
}

.main-container {
  margin: auto;
  height: auto;
  max-width: 1250px;
  width: 90vw;
  overflow: hidden;
}

.main-header {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 24pt;
}

@media screen and (max-width: 950px) {
  .main-header {
    text-align: center;
  }
}